.loader {
  display: block;
  position: relative;
  height: 20px;
  width: 200px;
  background: transparent;
  border: 1px solid #000;
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #000;
  animation: prog 2.5s linear forwards;
}

@keyframes prog {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}